<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Them Hoat Dong</title>
</head>
<body>
<div>
    <h1>Thêm Hoạt Động</h1>
        <div class="col-md-auto">
    <form action="#" th:action="@{/luuHoatDong}" th:object="${hd}"
          method="POST">
<!--        <label th:text="maHD" th:for="maHD"></label>-->
<!--        <input type="text" th:field="*{maHD}" name="tenHD"-->
<!--               placeholder="Ten Hoat Dong" class="form-control mb-4 col-4">-->

        <label th:text="TenHD" th:for="TenHD"></label>
        <input type="text" th:field="*{tenHD}" name="tenHD"
               placeholder="Ten Hoat Dong" class="form-control mb-4 col-4">

        <label th:text="MaTV" th:for="MaTV"></label>
        <input type="text" th:field="*{maTV.maTV}" name="maTV"
               placeholder="Ma Thanh Vien" class="form-control mb-4 col-4">

        <label th:text="MoTa" th:for="MoTa"></label>
        <input type="text" th:field="*{moTa}" name="moTa"
               placeholder="Mo Ta" class="form-control mb-4 col-4">

        <label th:text="batDau" th:for="batDau"></label>
        <input type="date" th:field="*{batDau}" name="batDau"
               placeholder="TG Bat Dau" class="form-control mb-4 col-4">

        <label th:text="ketThuc" th:for="ketThuc"></label>
        <input type="date" th:field="*{ketThuc}" name="ketThuc"
               placeholder="TG ketThuc" class="form-control mb-4 col-4">

        <label th:text="minQ" th:for="minQ"></label>
        <input type="text" th:field="*{minQ}" name="minQ"
               placeholder="SL Toi Thieu" class="form-control mb-4 col-4">

        <label th:text="maxQ" th:for="maxQ"></label>
        <input type="text" th:field="*{maxQ}" name="maxQ"
               placeholder="SL Toi Da" class="form-control mb-4 col-4">

        <label th:text="thoiHan" th:for="thoiHan"></label>
        <input type="date" th:field="*{thoiHan}" name="thoiHan"
               placeholder="TH Dang ky" class="form-control mb-4 col-4">

        <label th:text="trangThai" th:for="trangThai"></label>
        <input type="text" th:field="*{trangThai}" name="trangThai"
               placeholder="Trang Thai HD 0 or 1" class="form-control mb-4 col-4">

        <label th:text="lyDoHuy" th:for="lyDoHuy"></label>
        <input type="text" th:field="*{lyDoHuy}" name="lyDoHuy"
               placeholder="Ly do Huy" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Save </button>
    </form>
    </div>
    <a th:href = "@{/}"> Back to view</a>
    </div>
</body>
</html>