<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Danh sach hoat dong</title>
</head>
<body>
<a th:href = "@{/themHoatDongMoi}" > Them Hoat Dong </a>
<table border="1" class = "table table-striped table-responsive-md">
    <thead>
            <tr>
                <th>Mã</th>
                <th>Tên</th>
                <th>Mô tả</th>
                <th>Bắt đầu</th>
                <th>Kết thúc</th>
                <th>SL Tối Thiểu</th>
                <th>SL Tối Đa</th>
                <th>Thời Hạn</th>
                <th>Trạng Thái</th>
                <th>Lý Do Hủy</th>
            </tr>
    </thead>
    <tbody>
    <tr th:each="hoatdong : ${hoatDongList}">
        <td th:text="${hoatdong.maHD}"></td>
        <td th:text="${hoatdong.tenHD}"></td>
        <td th:text="${hoatdong.moTa}"></td>
        <td th:text="${hoatdong.batDau}"></td>
        <td th:text="${hoatdong.ketThuc}"></td>
        <td th:text="${hoatdong.minQ}"></td>
        <td th:text="${hoatdong.maxQ}"></td>
        <td th:text="${hoatdong.thoiHan}"></td>
        <td th:text="${hoatdong.trangThai}"></td>
        <td th:text="${hoatdong.lyDoHuy}"></td>
        <td>
            <a th:href="@{/showFormForUpdate/{id}(id=${hoatdong.maHD})}" class="btn btn-primary">Update</a>
            <a th:href="@{/deleteHoatDong/{id}(id=${hoatdong.maHD})}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>