<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Danh sach hoat dong</title>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
    <h1>Manage User</h1>
    <table>
        <tr>
            <th>TenHD</th>
            <th>MoTa</th>
            <th>BatDau</th>
            <th>KetThuc</th>
            <th>TrangThai</th>
        </tr>
        <tr th:each="hoatDong : ${hoatDong}">
            <td th:text="${hoatDong.tenHD}"></td>
            <td th:text="${hoatDong.moTa}"></td>
            <td th:text="${hoatDong.batDau}"></td>
            <td th:text="${hoatDong.ketThuc}"></td>
            <td th:text="${hoatDong.trangThai}"></td>
            <td>
                <a th:href="" class="btn btn-primary">Chinh Sua</a>
                <a th:href="" class="btn btn-danger">Xoa</a>
            </td>
        </tr>
    </table>
    <a href="/add" class="btn btn-success">Them Hoat Dong</a>
</div>
</body>
</html>